* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  align-content: center;
}

.input-container {
  padding: 20px;
  min-width: 360px;
}

.input h2 {
  color: #1B3C53;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.input {
  display: flex;
  flex-direction: column;
  margin: 0 auto; /*ALINHAMENTO HORIZONTAL*/
  justify-content: center; /*ALINHAMENTO VERTICAL*/
  height: 600px;
  max-width: 500px;
  padding: 30px;
  border-radius: 5px;
}

input::placeholder {
  font-size: 1.2rem;
  color: #456882;
  opacity: 0.7;
}

#cadUser,
#cadPass {
  color: #1B3C53;
  font-size: 1.2rem;
  height: 55px;
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 5px;
  border: none;
  background-color: #f0f0f0;
  
}

#cadUser:focus,
#cadPass:focus {
  outline: none;
  border: 1px solid #456882;
  box-shadow: 5px 5px 7px 0px rgb(69, 104, 130);
}

button {
  font-size: 1rem;
  margin: 0 auto;
  padding: 15px 25px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #234C6A;
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 3px 3px 5px 0 #0056b3; 
  transition: all 0.1s ease-in-out; 
}

button:hover{
  opacity: 1;
  transform: translateY(3px);
  box-shadow: 0 2px 0 #0056b3; 
}

button:active {
  transform: translateY(5px);
  box-shadow: 0 0px 0 #0056b3;
}

.input a, p {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  color: #001BB7;
  font-weight: 300;
}

.input a p:hover {
  font-weight: bold;
}


@media(max-width: 375px) {
  .input h2 {
    font-size: 1.5rem;
  }
   button {
    padding: 10px 20px;
    font-size: 0.8rem;
  }
  .input a, p {
    font-size: 0.9rem;
  }
   #cadUser,
  #cadPass {
  height: 45px;
  }
  input::placeholder {
    font-size: 1rem;
  }
}





