* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
}
/* 
#container-nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  border-bottom: 0.5px solid #E3E3E3;
  align-items: center;
  margin: 0 150px;
  padding: 5px;
}

.container-menu ul {
  display: flex;
  list-style-type: none;
  gap: 50px;
}

li{
  font-size: 1.2rem;
  padding: 5px 10px ;
} */

.container-index {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
  height: 500px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.container-index h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 30px;
}

.container-index p{
  font-size: 1rem;
  text-align: center;
  /* margin-bottom: 2rem; */
  color: #3f3f3f;
  font-weight: 600;
}

.container-index button {
  display: flex;
  justify-self: center;
  font-size: 1rem;
  padding: 15px 25px;
  background: #4CAF50;
  opacity: 0.9;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 50px;
}

button:hover {
  opacity: 1;
}

@media (max-width: 375px) {
  .container-menu ul {
    display: none;
  }
}