* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html, body {
  font-family: Arial, sans-serif;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: url("../imgs/img_background_body.jpg")
}

body {
  background-position: center;
  min-width: 350px;
}

/* nav bar superior */
#container-nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  border-bottom: 0.5px solid #E3E3E3;
  align-items: center;
  margin: 0 150px;
  padding: 5px;
}

.container-menu ul {
  display: flex;
  list-style-type: none;
  gap: 50px;
}

@media(max-width: 1081px) {
  .container-menu ul {
    display: none;
  }
  #container-nav div a{
    color: red;
  }
}

li{
  font-size: 1rem;
  padding: 5px 10px ;
}

.container-index {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
  height: 500px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  z-index: 1;
}

@media(max-width: 1014px) {
  .container-index {
    width: 80%;
  }
}

@media(max-width: 590px) {
  .container-index {
    width: 70%;
  }
}

#sectionAvaliacao {
  display: none;
}

#sectionAvaliacao.active {
  display: flex;
}

/* nav bar lateral */
.sidebar {
  /* display: none; */
  position: absolute;
  width: 50px;
  height: 500px;
  margin-top: 40px;
  background-color: #ffff;
  transition: 0.8s;
  overflow: hidden; /* esconde elementos que passa o container*/
  z-index: 2;
}

.sidebar:hover {
  width: 300px;
}

.sidebar ul li {
  display: flex;
  white-space: nowrap;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar ul li .icone {
  min-width: 60px;
  justify-content: center;
  align-items: center;
}

img{
  width: 30px;
  height: 30px;
  color: #fff;
}

.sidebar ul li .titulo {
  color: #3f3f3f;
  align-items: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
}

.top-bar {
  margin-top: 20px;
}

.footer-bar {
  margin-top: 120px;
  margin-bottom: 10px;
}

.container-index h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 30px;
}

.container-index p{
  font-size: 1rem;
  text-align: center;
  /* margin-bottom: 2rem; */
  color: #3f3f3f;
  font-weight: 600;
}

.container-index button {
  display: flex;
  justify-self: center;
  font-size: 1rem;
  padding: 15px 25px;
  background: #4CAF50;
  opacity: 0.9;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 50px;
}

button:hover {
  opacity: 1;
}

@media (max-width: 375px) {
  .container-menu ul {
    display: none;
  }
  .sidebar {
    display: flex;
  }
  .container-index h1 {
    font-size: 1.5rem;
  }
  .container-index p{
    font-size: 0.8rem;
  }
  .container-index {
    margin-right: 10px;
    width: 80%;
  }
}