*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
}

.container-questionario {
  min-width: 330px;
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
  height: 500px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.container-questionario h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.question {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.question p {
  color: #000;
  font-size: 1.2rem;
  margin-top: 15px;
}

#q1, #q2, #q3 {
  font-size: 1rem;
  padding: 1rem;
}

.container-questionario button {
  display: flex;
  justify-self: center;
  font-size: 1rem;
  background: #4CAF50;
  opacity: 0.9;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 50px;
  padding: 16px 60px;
}

button:hover {
  opacity: 1;
}

@media(max-width: 375px) {
  .container-questionario {
    max-width: 340px;
  }
}

@media(max-width: 830px) {
  .question {
    display: block;
    justify-items: center;
  }
  select {
    display: block;
    margin: 0 auto;
  }
  .question p {
    margin-bottom: 20px;
    font-size: 1rem;
    text-align: center;
  }
  .container-questionario {
    height: 100%;
  }
  #q1, #q2, #q3 {
    padding: 10px;
  }
  .container-questionario button {
    padding: 15px 25px;
  }
}

